In [1]:
import warnings
warnings.filterwarnings("always")
warnings.filterwarnings("ignore")
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("X_full.csv",index_col=0)
df_raw=pd.read_csv("F:/Minor project dataset/Datasets/LoanExport.csv",index_col=0)

In [3]:
df.head()

,CreditScore,FirstTimeHomebuyer,MSA,MIP,Units,Occupancy,OCLTV,DTI,OrigUPB,LTV,...,FirstPaymentYear,FirstPaymentMonth,Maturity_Year,Maturity_Month,LTV_range,Credit_range,YearsInRepayment,Repay_range,IsFirstTimeHomeBuyer,Duration
0,711.841009,0,16974,25,1,0,89,27.0,117000,89.0,...,1999,2,2029,1,0,0,4.333333,2,0,30
1,711.841009,0,19740,0,1,0,73,17.0,109000,73.0,...,1999,2,2029,1,0,0,12.000000,4,0,30
2,711.841009,0,29940,0,1,0,75,16.0,88000,75.0,...,1999,2,2029,1,0,0,5.583333,2,0,30
3,711.841009,0,31084,0,1,0,76,14.0,160000,76.0,...,1999,2,2029,1,0,0,2.916667,1,0,30
4,711.841009,0,35644,0,1,0,78,18.0,109000,78.0,...,1999,2,2029,1,0,0,4.500000,2,0,30

In [4]:
df_raw.head()

,FirstPaymentDate,FirstTimeHomebuyer,MaturityDate,MSA,MIP,Units,Occupancy,OCLTV,DTI,OrigUPB,...,PostalCode,LoanSeqNum,LoanPurpose,OrigLoanTerm,NumBorrowers,SellerName,ServicerName,EverDelinquent,MonthsDelinquent,MonthsInRepayment
CreditScore,,,,,,,,,,,,,,,,,,,,,
0,199902,N,202901,16974,25,1,O,89,27,117000,...,60400,F199Q1268030,P,360,2,FL,WASHINGTONMUTUALBANK,0,0,52
0,199902,N,202901,19740,0,1,O,73,17,109000,...,80200,F199Q1015092,N,360,1,FT,CHASEHOMEFINANCELLC,0,0,144
0,199902,N,202901,29940,0,1,O,75,16,88000,...,66000,F199Q1266886,N,360,2,FL,WASHINGTONMUTUALBANK,0,0,67
0,199902,N,202901,31084,0,1,O,76,14,160000,...,90700,F199Q1178167,N,360,2,GM,GMACMTGECORP,0,0,35
0,199902,N,202901,35644,0,1,O,78,18,109000,...,7600,F199Q1178517,N,360,2,GM,GMACMTGECORP,0,0,54

In [5]:
def cal_emi(p,r,n):
    return p * r * (1 / (1 - (1 + r) ** (-n)))

df['EMI']=np.vectorize(cal_emi)(df["OrigUPB"], df["OrigInterestRate"] , df["OrigLoanTerm"])
df['EMI'].head()

0     789750.0
1     708500.0
2     605000.0
3    1100000.0
4     776625.0
Name: EMI, dtype: float64

In [6]:
df["totalPayment"]    = df["EMI"] * df["OrigLoanTerm"]
df["interestAmount"]  = df["totalPayment"] - df["OrigUPB"]
df["monthlyInterest"] = df["interestAmount"] / df["OrigLoanTerm"]

In [7]:
def principal(r, amount, emi, month):
    for i in range(month):
        interest = r * amount
        p = emi - interest
        amount -= p
    return amount

df["currentPrincipal"] = np.vectorize(principal)(df["OrigInterestRate"], df["OrigUPB"], df["EMI"], df["MonthsInRepayment"])
print(df["currentPrincipal"].head())

0    117000.0
1    109000.0
2     88000.0
3    160000.0
4    109000.0
Name: currentPrincipal, dtype: float64

In [8]:
def compute_monthly_income(dti, emi):
    if dti == 0:
        return 0.01
    return  emi / dti

df["monthlyIncome"] = np.vectorize(compute_monthly_income)(df["DTI"], df["EMI"])
print(df["monthlyIncome"].head())

0    29250.000000
1    41676.470588
2    37812.500000
3    78571.428571
4    43145.833333
Name: monthlyIncome, dtype: float64

In [9]:
def compute_pre_payment(dti, income):
    if dti < 40:
        return income/2
    else:
        return income * (3/4)

df["prePayment"] = np.vectorize(compute_pre_payment)(df["DTI"], df["monthlyIncome"] * 24)

M = max(df["prePayment"])
m = min(df["prePayment"])
print(f"max : {M}")
print(f"min : {m}")

max : 22680000.0
min : 21710.526315789473

In [10]:
df["SPP"] = (df["EMI"]-df["monthlyInterest"]) * df["OrigLoanTerm"]
df["APP"] = (df["EMI"]-df["monthlyInterest"]) * df["MonthsInRepayment"] + df["prePayment"]
df["OPB"] = df["currentPrincipal"]

df["PPR"] = abs(df["SPP"] - df["APP"]) / df["OPB"]

features = ["SPP", "APP", "OPB", "PRR"]
M = max(df["PPR"])
m = min(df["PPR"])

print(f"max : {M}")
print(f"min : {m}")

max : 98.37500000000003
min : 0.6443404837973886

In [11]:
data=df.copy()

In [12]:
X = data[[  'FirstPaymentMonth', 'IsFirstTimeHomeBuyer', 'Maturity_Month', 'MIP', 'Occupancy',
            'DTI', 'OrigUPB', 'OrigInterestRate', 'Channel', 'PPM',
            'PropertyState', 'PropertyType', 'LoanPurpose',
            'OrigLoanTerm', 'NumBorrowers', 'MonthsDelinquent',
            'Credit_range', 'LTV_range', 'Repay_range'
            ]]
y = data["PPR"]

In [28]:
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import ColumnTransformer

In [14]:
cat_cols = X.select_dtypes("object").columns
num_cols = X.select_dtypes(exclude="object").columns
target = 'PPR'


categorical_pipeline = Pipeline(
    steps=[
        ("impute", SimpleImputer(strategy="constant")),
        ("one_hot_encode", OneHotEncoder(handle_unknown="ignore")),
    ]
)

numeric_pipeline = Pipeline(
    steps=[
        ("impute", SimpleImputer(strategy="mean"))
    ]
)

preprocessor = ColumnTransformer(
    transformers=[
        ("numeric", numeric_pipeline, num_cols),
        ("categorical", categorical_pipeline, cat_cols),
    ]
)

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [17]:
from sklearn.tree import DecisionTreeRegressor
from xgboost import XGBRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

from sklearn.metrics import classification_report,confusion_matrix
from sklearn.metrics import make_scorer, accuracy_score, precision_score, recall_score, f1_score, fbeta_score

In [18]:
X_train.shape

(233159, 19)

In [19]:
DT_model = DecisionTreeRegressor(criterion='squared_error')
DT_model.fit(X_train, y_train)
DT_pred = DT_model.predict(X_test)

DT_MSE = mean_squared_error(y_test, DT_pred)
DT_R2 = r2_score(y_test, DT_pred)

In [20]:
print(f"MSE ------>: {DT_MSE}")
print(f"R2 score ------->: {DT_R2}")

MSE ------>: 0.00286798594985073
R2 score ------->: 0.9994120542321232

In [21]:
XGB_model = XGBRegressor( max_depth=7, n_estimators=300, random_state=40 )
XGB_model.fit(X_train, y_train)
XGB_pred = XGB_model.predict(X_test)

XGB_MSE = mean_squared_error(y_test, XGB_pred)
XGB_R2 = r2_score(y_test, XGB_pred)

In [22]:
print(f"MSE ------>: {XGB_MSE}")
print(f"R2 score ------->: {XGB_R2}")

MSE ------>: 0.0013363518250694877
R2 score ------->: 0.9997260438462102

In [23]:
import pickle
file='MBSRiskshield_trained_model.sav'
pickle.dump(XGB_model,open(file,'wb'))

In [24]:
loaded_model=pickle.load(open('MBSRiskshield_trained_model.sav','rb'))
t=loaded_model.predict(X_test)
error_score = r2_score(y_test, t)
print("R squared Error : ", error_score)
# XGB_model.predict([1,'n',1,1,'o',0,100000,1,'T','n','il','sf','p',100,1,0,1,1,1])

R squared Error :  0.9997260438462102

In [25]:
user_Ip_cols = [  'FirstPaymentMonth', 'IsFirstTimeHomeBuyer', 'Maturity_Month', 'MIP', 'Occupancy',
            'DTI', 'OrigUPB', 'OrigInterestRate', 'Channel', 'PPM',
            'PropertyState', 'PropertyType', 'LoanPurpose',
            'OrigLoanTerm', 'NumBorrowers', 'MonthsDelinquent',
            'Credit_range', 'LTV_range', 'Repay_range'
            ]

In [26]:
for col in user_Ip_cols : 
    print(f"{col} : " ,df[col].unique())
    print("\n")
    print("_"*100)
    print("\n")

FirstPaymentMonth :  [ 2  3  4  5  6  7  8  9 10 11 12  1]


____________________________________________________________________________________________________


IsFirstTimeHomeBuyer :  [0 1]


____________________________________________________________________________________________________


Maturity_Month :  [ 1 10  2  9  3  7  4  5  6  8 11 12]


____________________________________________________________________________________________________


MIP :  [25  0 30 12 35 29 17 18 20 22  6 14 33 16 52 36 28 11 45 15 27 10 32  9
 50 47  7 24 37 26  1 13 21 19 23 55  4]


____________________________________________________________________________________________________


Occupancy :  [0 1 2]


____________________________________________________________________________________________________


DTI :  [27.         17.         16.         14.         18.         40.
 21.         20.         38.         19.         23.         45.
 28.         29.         15.         43.         25.         24.
 26.         35.         46.         39.         33.         48.
 30.         31.         22.         56.         32.         12.
  6.         37.         36.         42.         34.         11.
 41.          8.         44.         55.         31.98655241 13.
 53.         10.          9.         51.          7.         47.
 65.         54.          2.         57.          5.          3.
  4.         50.         59.         49.         52.         64.
 60.         58.         62.          1.         61.         63.        ]


____________________________________________________________________________________________________


OrigUPB :  [117000 109000  88000 160000 207000 111000  97000  55000  35000 126000
 200000  70000  93000  79000  54000  80000 231000 145000 187000 148000
  90000  65000  86000 122000 157000  94000  63000  50000 100000 191000
 204000 222000 189000  57000 202000 137000  56000 140000  18000  76000
  77000 151000 118000 182000  98000  89000 172000  82000 240000 102000
 173000  51000 169000 101000 152000 141000  47000 128000 133000 135000
 115000 144000 146000 212000 176000 214000 190000 227000  99000  83000
  49000  29000 124000 132000 150000 300000  95000 149000 162000 226000
 110000 112000 219000 236000  67000 195000 164000 198000  60000 194000
 147000 104000  72000 183000 154000 179000  66000 210000  46000  96000
 225000 156000  45000 235000 113000 139000  74000  68000  69000 238000
 142000  73000  52000 143000  27000 217000 106000  64000  36000  39000
 134000  38000 108000 120000 155000  71000  31000 234000  28000 136000
 184000  48000  44000  42000 193000 119000 131000  26000 114000  81000
 209000 248000 185000  61000  30000  41000  92000  62000 170000  87000
  75000 174000 103000  59000 230000 105000 177000 130000  84000 138000
 116000  23000 125000  34000  33000 171000 213000 127000 205000 123000
 203000 291000 216000 158000 167000 153000  20000 220000 175000 211000
 163000  43000  53000  32000 252000 161000 129000 215000  78000  40000
 188000 239000 107000  58000  37000 181000 166000 228000 307000 197000
 180000  91000 192000  85000 206000 165000 232000 208000 201000  13000
 121000 196000 221000 304000 159000 229000 278000  24000 284000 243000
 178000 251000 261000 313000  25000 262000 168000 186000 223000 323000
 306000 282000 199000 237000 224000 250000 246000 260000 254000 247000
 244000 274000 329000 242000 272000  21000 265000 233000 270000 264000
 348000 276000 266000 218000 328000 245000 280000 256000 315000 263000
 338000 351000 267000 285000 259000 258000 257000 327000  14000 400000
  17000 332000  16000 277000 275000 298000 287000 319000  19000  15000
 279000 390000  22000 299000 281000 296000 269000 249000 241000 325000
 359000 297000 253000 347000 355000 288000 273000 271000 286000 302000
 290000 371000 336000 293000 360000 255000  10000 303000 268000 316000
 350000 292000 320000 312000 301000 352000 318000 289000 326000 305000
 294000 345000 331000 283000 330000 311000 361000 308000 310000 295000
 415000 333000 368000 428000  12000 309000 370000 423000 358000 340000
 354000 461000 324000 399000 339000 364000 334000   9000 346000 363000
 353000 497000 341000 442000 410000 455000 314000 344000 431000 317000
 392000 413000 436000 322000 389000 398000 454000  11000 458000 416000
 440000 402000   8000 387000 420000]


____________________________________________________________________________________________________


OrigInterestRate :  [ 6.75   6.5    6.875  7.125  7.     7.25   6.625  7.75   7.2    7.5
  7.625  7.875  6.25   8.125  7.15   7.375  6.375  8.75   7.1    8.5
  7.05   6.95   8.     6.     8.625  8.375  6.125  5.75   5.875  8.25
  7.18   5.125  5.25   8.99   5.625  9.     9.375  5.     9.125  6.99
  5.375  8.365  8.875  8.825  6.975  7.3    7.313  9.625  9.5    9.25
  7.85   8.695  4.875  7.775  7.29   7.405  9.75   7.13   5.99   6.999
  7.055  7.09   6.785  7.08   7.025  7.7    7.58  10.5    7.55   7.445
  9.875  6.9    6.85   6.925  8.37   7.095  7.19   8.85   7.456  7.675
  9.675  7.475  8.04   7.4    7.22   7.17   8.7    7.301  8.9   10.
  5.5    6.62   6.7    7.325 10.375  4.75   6.6    7.8    7.333 10.85
  7.185  7.99   7.245 11.5    6.94   6.87   7.65   7.312  7.28   7.39
  7.07   6.55   9.95   7.43   7.48   6.88   8.45   6.825  6.895  6.3
  7.49   6.8    6.63   8.05   7.275  7.175  7.225  7.075  8.8    7.33
  7.35   7.23   6.65   7.91   7.575  7.425  7.03   7.31  10.625  6.45
  7.14   7.12   7.24   7.013  9.7    6.4    6.49   6.97   7.355  7.878
  8.27   7.38   7.45   7.105  9.35  10.75   7.365  6.871  5.96   8.3
  7.36   9.975  7.37   7.32  11.125  8.07   6.1    6.883  7.95   7.6
  7.54  11.1    6.955  9.99   6.995  7.023  5.89   6.35   8.32   8.315
  7.62   7.188  7.26   8.14   7.072  7.106  7.066  6.225  7.016  6.52
  7.255  6.715  7.04   6.545  6.93   7.056  6.69   8.1    8.485 12.35
  7.06   6.2    7.085  7.495  7.158  6.33   8.13   8.18   7.66   6.602
  7.293  7.371  6.98   8.06   6.92   5.49   6.626  6.685  6.51   8.67
  6.813  7.257  7.165  8.31   8.255  7.825  7.395  7.624  7.195  7.265
  6.935  6.965  4.     6.54   6.948  7.64   7.02   6.74   6.96   6.957
  7.063  7.415  7.21   6.15   6.79   7.399  7.47   7.059  7.305  7.925
  7.93   7.154  6.09   5.8  ]


____________________________________________________________________________________________________


Channel :  [0 1 2 3]


____________________________________________________________________________________________________


PPM :  [0 1]


____________________________________________________________________________________________________


PropertyState :  [0 1 2 3 4]


____________________________________________________________________________________________________


PropertyType :  [0 1 2 3 4 5]


____________________________________________________________________________________________________


LoanPurpose :  [0 1 2]


____________________________________________________________________________________________________


OrigLoanTerm :  [360 345 306 335 322 327 329 358 355 356 354 346 350 334 325 344 348 313
 316 336 359 318 353 330 319 332 315 320 338 312 328 337 351 333 317 331
 357 341 343 326 339 324 347 352 307 309 349 342 304 310 323 340 301 305
 314 321 302 308 303 361 311]


____________________________________________________________________________________________________


NumBorrowers :  [2 1]


____________________________________________________________________________________________________


MonthsDelinquent :  [  0   3 104   5  23  32   1   2   4  20  10  34  35   6  11 153   7  15
   8  18  78  24  14  28  13  95  17  25   9  66  36  19  27  49  50  26
  29  12  16  21  22 118  30  69 158  62  43  38  64  71  76  74  92  41
  91  83 130  70 102  33  31  84  85  65  52  47  46  68  45  37 120  61
  39  56 129  60  48  55 172  54  40 136 151 124 100 105  51  99 107  73
  57 170 117  86  94  63  75 149 106 112 110  77 122 135 180  58  53 116
  59  42 163 111 141 169  44  82  79  72 121 134  81  89 150 113 109 146
  80 133  97 103 168  67 101 145 139  87  93 140 115 147  96 127  98 132
 108 126 138  88 156 119 165  90 114 157 144 160 123 148 143 137 152 175
 131 154 162 179 128 178 125 155 159 142 161 171]


____________________________________________________________________________________________________


Credit_range :  [0 1 2 3]


____________________________________________________________________________________________________


LTV_range :  [0 1 2]


____________________________________________________________________________________________________


Repay_range :  [2 4 1 5 3]


____________________________________________________________________________________________________

In [30]:
from sklearn.decomposition import PCA
pipeline = Pipeline(
    steps=[
        ("preprocessor", preprocessor),
        ("scaler", StandardScaler()),
        ("pca", PCA(n_components=15)),
        ("model", XGBRegressor()),
    ]
)

In [31]:
pipeline.fit(X_train, y_train)
accuracy = pipeline.score(X_test, y_test)
print("Accuracy of the XGBoost model:", accuracy)

Accuracy of the XGBoost model: 0.6731859800086508

In [32]:
pickle.dump(pipeline, open("XGBreg_vasu_pipeline.pkl", "wb"))